<%- include("partials/header") %>
<h1> campgrounds</h1>

<% campgrounds.forEach(function(camp){  %>
    
    <div> 
       <h4> <%= camp.name %> </h4> 
       <img src="<%= camp.image %>" alt="pics of camp places">
    </div>

<%});%>

<%- include("partials/footer") %>